## Import Statements

In [4]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

## Read in Data

In [39]:
data_path = '../Data/'

filenames = [
#     'CM2014_edit.csv',
    'CM2015_edit.csv',
    'CM2016_edit.csv',
    'CM2017_edit.csv',
    'CM2018_edit.csv',
    'mdcp.csv'
]

# cla_2014 = pd.read_csv(data_path + filenames[0], low_memory=False)
cla_2015_raw = pd.read_csv(data_path + filenames[0], low_memory=False)
cla_2016_raw = pd.read_csv(data_path + filenames[1], low_memory=False)
cla_2017_raw = pd.read_csv(data_path + filenames[2], low_memory=False)
cla_2018_raw = pd.read_csv(data_path + filenames[3], low_memory=False)
mdcp_raw = pd.read_csv(data_path + filenames[4], low_memory=False)    # Mendota buoy

## Clean Data

### CLA Data

In [73]:
keep15 = [     # features to keep for years 2015-2017
    'correct_timestamp',
    'collectionSiteId',
    'lake',
    'algalBloom',
    'algalBloomSheen',
    'turbidity',
    'lat',
    'long'
]

keep18 = [    # features to keep for 2018
    'sample_collection_time',
    'collectionSiteId',
    'lake',
    'algalBloom',
    'algalBloomSheen',
    'turbidity',
    'latitiude',
    'longitude'
]

rename15 = {   # rename features for 2015-2017
    'collectionSiteId': 'site',
    'lat': 'latitude',
    'long': 'longitude',
    'correct_timestamp': 'date'
}

rename18 = {   # renamce features for 2018
    'collectionSiteId': 'site',
    'sample_collection_time': 'date',
    'latitiude': 'latitude'
}

cla_2015 = cla_2015_raw[keep15]
cla_2016 = cla_2016_raw[keep15]
cla_2017 = cla_2017_raw[keep15]
cla_2018 = cla_2018_raw[keep18]

cla_2015.rename(rename15, axis='columns', inplace=True)
cla_2016.rename(rename15, axis='columns', inplace=True)
cla_2017.rename(rename15, axis='columns', inplace=True)
cla_2018.rename(rename18, axis='columns', inplace=True)

# change data types
numeric = [    # list of numeric features
    'algalBloom',
    'algalBloomSheen',
    'turbidity',
    'latitude',
    'longitude'
]

# convert data types
features = cla_2015.columns.values

for feat in features:
    if feat in ['algalBloom', 'algalBloomSheen', 'turbidity', 'latitude', 'longitude']:
        cla_2015[feat] = pd.to_numeric(cla_2015[feat], errors='coerce')
        cla_2016[feat] = pd.to_numeric(cla_2016[feat], errors='coerce')
        cla_2017[feat] = pd.to_numeric(cla_2017[feat], errors='coerce')
        cla_2018[feat] = pd.to_numeric(cla_2018[feat], errors='coerce')
    
    if feat in ['site', 'lake']:
        cla_2015[feat] = cla_2015[feat].astype(str)
        cla_2016[feat] = cla_2016[feat].astype(str)
        cla_2017[feat] = cla_2017[feat].astype(str)
        cla_2018[feat] = cla_2018[feat].astype(str)
    
    if feat == 'date':
        cla_2015[feat] = pd.to_datetime(cla_2015[feat], errors='coerce')
        cla_2016[feat] = pd.to_datetime(cla_2016[feat], errors='coerce')
        cla_2017[feat] = pd.to_datetime(cla_2017[feat], errors='coerce')
        cla_2018[feat] = pd.to_datetime(cla_2018[feat], errors='coerce')
        
# remove nans
cla_2015.dropna(axis='rows', how='any', inplace=True)
cla_2016.dropna(axis='rows', how='any', inplace=True)
cla_2017.dropna(axis='rows', how='any', inplace=True)
cla_2018.dropna(axis='rows', how='any', inplace=True)

# remove any data point not on lake mendota
cla_2015 = cla_2015[cla_2015['lake'].str.contains('Mendota')]
cla_2016 = cla_2016[cla_2016['lake'].str.contains('Mendota')]
cla_2017 = cla_2017[cla_2017['lake'].str.contains('Mendota')]
cla_2018 = cla_2018[cla_2018['lake'].str.contains('Mendota')]

# set date as index
cla_2015.set_index('date', inplace=True)
cla_2016.set_index('date', inplace=True)
cla_2017.set_index('date', inplace=True)
cla_2018.set_index('date', inplace=True)

# sort data by dates
cla_2015.sort_values(by='date', inplace=True)
cla_2016.sort_values(by='date', inplace=True)
cla_2017.sort_values(by='date', inplace=True)
cla_2018.sort_values(by='date', inplace=True)

### Mendota Buoy Data

In [59]:

mdcp_raw.columns.values

array(['year4', 'station_id', 'sampledate', 'month', 'daynum',
       'sampletime', 'air_temp', 'flag_air_temp', 'rel_hum',
       'flag_rel_hum', 'wind_speed', 'flag_wind_speed', 'wind_dir',
       'flag_wind_dir', 'chlor', 'flag_chlor', 'phycocyanin',
       'flag_phycocyanin', 'do_raw', 'do_sat', 'do_wtemp', 'flag_do_raw',
       'flag_do_sat', 'flag_do_wtemp', 'pco2_ppm', 'flag_pco2_ppm', 'par',
       'flag_par', 'par_below', 'flag_par_below'], dtype=object)

#### Idea: resample data so that its yes or no to algae for each day. Was there an algal bloom today? maybe do this for just lake mendota

In [75]:
cla_2018.resample('D').mean()
# if algalbloomsheen is >0 after resampling, make it 1. Do this for all years. Append the average daily from mdcp,
# and simply predict whether or not an algalbloom will be happening

            algalBloom  algalBloomSheen   turbidity   latitude  longitude
date
2018-04-23    1.000000         0.000000   50.000000  43.131667 -89.433139
2018-04-24         NaN              NaN         NaN        NaN        NaN
2018-04-25    3.000000         2.000000   65.000000  43.087544 -89.419706
2018-04-26    1.000000         0.000000   70.000000  43.087305 -89.472000
2018-04-27         NaN              NaN         NaN        NaN        NaN
2018-04-28    1.000000         0.000000  120.000000  43.107139 -89.475167
2018-04-29    1.000000         0.000000  115.000000  43.080972 -89.462111
2018-04-30         NaN              NaN         NaN        NaN        NaN
2018-05-01    1.000000         0.000000   83.500000  43.102828 -89.454146
2018-05-02    1.000000         0.000000   71.500000  43.101886 -89.450473
2018-05-03    1.000000         0.000000   81.200000  43.106876 -89.442418
2018-05-04    1.000000         0.000000  117.000000  43.093589 -89.372306
2018-05-05    1.000000         0.000000   62.000000  43.103991 -89.427330
2018-05-06    1.000000         0.000000   63.875000  43.111115 -89.454150
2018-05-07    1.000000         0.000000   74.466667  43.119785 -89.432751
2018-05-08    1.285714         0.285714   57.857143  43.107516 -89.434380
2018-05-09    1.000000         0.000000   44.500000  43.101886 -89.450473
2018-05-10    1.000000         0.000000   91.222222  43.104950 -89.433395
2018-05-11         NaN              NaN         NaN        NaN        NaN
2018-05-12    1.000000         0.000000   68.400000  43.101542 -89.472750
2018-05-13    1.000000         0.000000  106.666667  43.095428 -89.402120
2018-05-14    1.000000         0.000000   75.900000  43.095208 -89.462861
2018-05-15    1.333333         0.000000   71.833333  43.107155 -89.436804
2018-05-16    0.500000         0.000000   45.000000  43.127234 -89.435987
2018-05-17    1.000000         0.083333   86.583333  43.100647 -89.427220
2018-05-18    1.000000         0.000000   29.000000  43.122800 -89.438836
2018-05-19    1.000000         0.000000   97.250000  43.106579 -89.413690
2018-05-20    1.000000         0.000000   92.000000  43.106988 -89.438357
2018-05-21    1.000000         0.000000   74.000000  43.117261 -89.405390
2018-05-22    1.181818         0.272727   96.727273  43.110510 -89.432173
...                ...              ...         ...        ...        ...
2018-08-31    1.000000         0.000000  108.200000  43.105163 -89.445292
2018-09-01    1.000000         0.000000  116.666667  43.108628 -89.461445
2018-09-02    1.000000         0.000000  120.000000  43.101886 -89.450473
2018-09-03    1.000000         0.000000  120.000000  43.122800 -89.438836
2018-09-04    1.142857         0.285714  117.142857  43.102769 -89.445192
2018-09-05    1.000000         0.000000  120.000000  43.115650 -89.454488
2018-09-06    1.000000         0.000000   95.000000  43.105753 -89.437691
2018-09-07    1.000000         0.000000   93.333333  43.097725 -89.474342
2018-09-08         NaN              NaN         NaN        NaN        NaN
2018-09-09    1.000000         0.000000  101.000000  43.094736 -89.466126
2018-09-10    1.500000         0.500000  118.500000  43.081341 -89.422712
2018-09-11    1.750000         0.500000   85.300000  43.115465 -89.443611
2018-09-12    1.333333         0.666667  113.000000  43.090394 -89.438522
2018-09-13    1.250000         0.250000   98.250000  43.107076 -89.425000
2018-09-14    2.000000         2.000000   33.000000  43.081289 -89.464775
2018-09-15    2.333333         1.000000   73.666667  43.090148 -89.464787
2018-09-16         NaN              NaN         NaN        NaN        NaN
2018-09-17    2.000000         0.500000   59.000000  43.081341 -89.422712
2018-09-18    1.000000         0.000000   62.000000  43.127111 -89.395806
2018-09-19    1.000000         0.000000   88.333333  43.081846 -89.438294
2018-09-20    1.500000         0.500000   79.000000  43.129389 -89.414473
2018-09-21    1.000000         0.000000   75.000000  43.080972 -89.462111
2018-09-22         NaN              NaN         NaN        NaN        NaN
2018-09-23    2.000000         1.000000   90.000000  43.107139 -89.475167
2018-09-24    1.000000         0.000000  120.000000  43.081711 -89.383314
2018-09-25    2.000000         1.000000   95.000000  43.108500 -89.470140
2018-09-26    1.000000         0.000000  114.000000  43.082284 -89.426385
2018-09-27    1.000000         0.000000   63.000000  43.127111 -89.395806
2018-09-28         NaN              NaN         NaN        NaN        NaN
2018-09-29    1.000000         0.000000  120.000000  43.111722 -89.371944

[160 rows x 5 columns]